
# User verification with Geolocation routing 
> User access record as routing source could be used for user verification.  Additional user verification steps (such as biometric verification) can be required when access location is changed or new geoloational routing info is spotted far from location which were shown in previous user access record. 

## Reference
*  Elon musk deepfake